/* styles.css */

.flip-clock {
  font-family: "Orbitron";
  font-weight: 700;
  /* margin-bottom: 2rem; */
}

.flip-clock {
  --fcc-flip-duration: 0.5s; /* transition duration when flip card */
  --fcc-digit-block-width: 30px; /* width of digit card */
  --fcc-digit-block-height: 60px; /* height of digit card, highly recommend in even number */
  --fcc-digit-font-size: 30px; /* font size of digit */
  --fcc-digit-color: #000; /* color of digit */
  --fcc-label-font-size: 10px; /* font size of label */
  --fcc-label-color: #fff; /* color of label */
  --fcc-background: #fff; /* background of digit card */
  --fcc-divider-color: #000; /* color of divider */
  --fcc-divider-height: 1px; /* height of divider */
  --fcc-separator-size: 6px; /* size of colon */
  --fcc-separator-color: #fff; /* color of colon */
}

@media (min-width: 900px) {
  .flip-clock {
    --fcc-digit-block-width: 80px;
    --fcc-digit-block-height: 120px;
    --fcc-digit-font-size: 60px;
    --fcc-label-font-size: 20px;
  }
}
